:root{
    
    /* color */
    --color-main-bg:#6566AB;
    --color-card-bg:#E4E4E4;
    --btn-disable-bg:#D0C5C1;
    --btn-second-bg:#ffdfde;
    --alarm-bg:#D12068;
    --font-gray-color:#666;
    --font-dark-gray:#2a2a2a;
}

html,body{
    height:100%;
}

section{
    height:100%;
}


/* INTRO */

.intro{
    position:relative;
    background-color: var(--color-main-bg);
}

.intro .logo{
    display:flex;
    flex-direction: column;
}

.intro .logo svg{
    fill: var(--btn-second-bg);
    width:134.2px;
    height:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro .logo  p{
    font-size: 12px;
    line-height: 1.33;
    position: absolute;
    bottom: 216px;
    padding: 0 36.5px;
    text-align: center;
    width: 100%;
}


/* LOGIN */

.login{
    background-color: var(--color-main-bg);
}

.login .logo{
    display:flex;

}

.login .logo svg{
    width: 95px;
    height:auto;
    fill:var(--btn-second-bg);
    margin:153px auto 40px;

}

.collection {
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection .collection-item{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: auto;
    color: var(--color-main-bg)!important;
    text-align: center;
    display: flex!important;
    justify-content: center;
}


.svg-wrapper{
    width: 25px;
    height: 25px;
    background-color: #d0c5c1;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    margin-right: 10px;
}

.login p{
    font-size:12px;
    line-height: 1.33;
    margin:40px 0 0;
}



.collection .collection-item:last-child{
    margin-bottom: 0;
}


/* sign-up */

.wrapper{
    max-width:280px;
    margin:0 auto;
}

.sign-up h1{
    color:var(--color-main-bg);
    font-size:27px;
    line-height: 0.78;
    margin:243px auto 0;
}

.sign-up p{
    font-size:12px;
    margin-top:80px;
    margin-bottom:30px;
    color:var(--font-dark-gray);
    line-height: 1.33;
}


.sign-up .btn-large{
    color:var(--color-main-bg)!important;
    width:100%;
    height:auto;
    border-radius: 10px;
    display:flex;
    margin: 0 auto 47px;
    justify-content: center;
    align-items: center;
}

.sign-up .btn-large .material-icons{
    fill:var(--color-main-bg)!important;
}

.sign-up .valign-wrapper.flex-between{
    justify-content: space-between;
    width: 280px;
    margin: auto;
}

.sign-up .valign-wrapper.flex-between .material-icons{
    color:#e4e4e4;
    margin-right: 3.5px;
}

.sign-up .valign-wrapper.flex-between a{
color:#a5a5a5;
font-size:12px;}

.sign-up .valign-wrapper.flex-between p{
    margin:0;
    color:var(--font-gray-color);
    font-size:12px;
}

.btn-large.white.start-btn{
    margin-top:80px;
    height:70px;
}

.start-btn svg{
    width: 27px;
    height:auto;
    margin-right: 4px;
}

.btn-large.white.start-btn p{
    font-size:20px;
    color:var(--color-main-bg);
    margin:0;
}

.progress{
    margin:174px 0 0 0!important;
    background-color: #fff!important;
    border: 1px solid #707070!important;
    border-radius: 10px!important;
    height:11px!important;
}


.sign-up .progress .determinate{
    background-color: var(--color-main-bg)!important;
    width: 12.5%;
    border-radius: 10px;
}

